{% extends 'layout.html' %}

{% block firstview %}

{#    layer1#}
    <div class="layer1">
        <div class="intro">
            <div class="jumbotron jumbotron-fluid" style="background: none">
              <div class="container">
                <h1 class="display-4">Get study materials <br>and reading guides</h1>
                <p class="lead">Access to class notes and multiple reading guides and resources to help you study.</p>
                  <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Search database" aria-label="Search database" aria-describedby="button-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">search</button>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block body %}


{% endblock %}